body {
        background-attachment: fixed;
        background-image: url(../tmp698246709049819137.jpg); no-repeat center;
        background-size: cover;
    }

.wrapper {
        padding: 70px;
        margin: 80px;
        width: 480px;
        background: #fff; margin: 0 auto;
    }